<div class="row text-center">
    <div class="col-sm-3 hidden-xs">
        <!-- NO CONTENT HERE -->
    </div>
    <div class="col-sm-6 col-xs-12">
        <p><%=title%></p>
        <a href="/users/register" class="btn btn-primary"><%=registerBtn%></a>
        <a href="/users/login" class="btn btn-primary"><%=loginBtn%></a>
    </div>
    <div class="col-sm-3 hidden-xs">
        <!-- NO CONTENT HERE -->
    </div>
</div>